body {
  margin: 0 auto;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
}

/*header*/

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  justify-items: center;
  align-items: end;
  margin: 90px 50px;
}

.header__links-list {
  display: flex;
  gap: 0 30px;
  font-size: 18px;
  padding-bottom: 45px;
  margin-right: 60px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list-item_no-bullit a {
  text-decoration: none;
}

.header__links-list-item {
  list-style: circle;
}

.header__link {
  text-transform: lowercase;
}

.header__logo-image {
  width: 148px;
  height: 105px;
  margin-top: 35px;
}

.address {
  font-size: 18px;
  line-height: 1.3;
  padding-left: 202px;
  padding-bottom: 9px;
}

/*cover*/

.cover {
  background-image: url(/images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.cover__title {
  display: flex;
  justify-content: space-between;
  margin: 0 50px 0;
  color: #FFF;
  font-size: 100px;
  text-transform: uppercase;
}

.aligned-text {
  padding-top: 165px;
}

.aligned-text_center {
  padding-top: 293px;
  padding-left: 70px;
}

.aligned-text_right {
  position: relative;
  left: 25px;
  padding-top: 412px;
}

.no-letter-spacing {
  letter-spacing: 30px;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.cover__description {
  display: flex;
  justify-content: end;
  padding-top: 128px;
}

.cover__description-text {
  font-size: 22px;
  color: #FFF;
  line-height: 28px;
  word-spacing: 17px;
  text-transform: uppercase;
  font-weight: 400;
  padding-right: 83px;
  padding-top: 12px;
}

.bet-button {
  background: none;
  width: 257px;
  height: 52px;
  color: #FFF;
  font-size: 22px;
  text-transform: uppercase;
  border: 1px solid #FFF;
  margin-right: 50px;
  margin-bottom: 50px;
}